<!DOCTYPE html>
<html>
    <head>
      <title>Aventix - Mon espace Personnel</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">
        

          <style>
              /* Remove the navbar's default margin-bottom and rounded borders */ 
              .navbar {
              margin-bottom: 0;
              border-radius: 0;
              }

              /* Add a gray background color and some padding to the footer */
              footer {
              background-color: #f2f2f2;
              padding: 25px;
              }

              .carousel-inner img {
              width: 100%; /* Set width to 100% */
              margin: auto;
              min-height:200px;
              }

              /* Hide the carousel text when the screen is less than 600 pixels wide */
              @media (max-width: 600px) {
              .carousel-caption {
              display: none; 
              }
              }
          </style>
    </head>
<!doctype html>
<html>

    <body>

      
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo - Aventix</a>

    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><form style="margin-top:10px;"action="" class="search-form">
                  <div class="form-group has-feedback">
                  <label for="search" class="sr-only">Rechercher</label>
                  <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form></li><li><a href="/login">Votre espace personnel :<span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        </ul>
    </div>
  </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#">Société</a></li>
        <li><a href="#">Carte Aventix</a></li>
        <li><a href="#">Utilisateurs</a></li>
        <li><a href="#">Entreprise</a></li>
        <li><a href="#">Restaurateurs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right social">
                <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
      </ul>
    </div>
</nav>

<br>
<div class="menucote" id="menuCote">

  <h1 class="titreMenuCote"> Compte Beneficiaire</h1>
  <ul class="elementDeListe">
          <br>
          <li ><a class="lienNav"  href="">Avantages</a></li>
          <br>
          <li><a class="lienNav" href="">Etat du compte</a></li>
          <br>
          <li><a class="lienNav" href="">Restaurants partenaires</a></li>
    </ul>
</div>


  <div class="menucote" id="displayDivDroite">
    <h1  class="titreMenuCote"> Etat du compte</h1>
    <div class="displayGauche">
    <h3 class="secondTitreMenuCote"> Solde: </h3>

        <div class="affichageInfos">
          <br>
       </div>

        <h3 class="secondTitreMenuCote"> Historique des paiements: </h3>
        <div class="affichageInfos">
              <br><br><br><br><br><br>
        </div>
</div>

   <div class="displayDroite">
      <h3 class="secondTitreMenuCote"> Carte perdue, volée ou bloquée? </h3>
      <a href="" class="jolieBoutton"> Contactez-nous!</a>
     </div>

  </div>

<footer class="footer">
    <div class="container">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="#">Logo - Aventix</a>
                <li><a href="login"><span class="glyphicon glyphicon-user"></span>>Mon Compte</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Plan du site</a></li>
      </ul>
    <div>
</footer>
</body>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
</html>