<!DOCTYPE html>


<html>
    <head>
      <title><%= pageTitle %></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
        

          <style>
              /* Remove the navbar's default margin-bottom and rounded borders */ 
              .navbar {
              margin-bottom: 0;
              border-radius: 0;
              }

              /* Add a gray background color and some padding to the footer */
              footer {
              background-color: #f2f2f2;
              padding: 25px;
              }

              .carousel-inner img {
              width: 100%; /* Set width to 100% */
              margin: auto;
              min-height:200px;
              }

              /* Hide the carousel text when the screen is less than 600 pixels wide */
              @media (max-width: 600px) {
              .carousel-caption {
              display: none; 
              }
              }
          </style>
    </head>

    <body onload="initialiserCarte();AffichageAdresseRestaurant();">

      
<nav class="navbar navbar">
  <div class="container-fluid" style="height:120px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><img src="img/logo_aventix.png" alt="Logo - Aventix" /></a>

    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><form style="margin-top:40px;" action="" class="search-form">
                  <div class="form-group has-feedback">
                  <label for="search" class="sr-only">Rechercher</label>
                  <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form></li><li><a href="/login" style="margin-top:35px;">Votre espace personnel : &nbsp;<span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
        </ul>
    </div>
  </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="navbarMenu" class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#">Société</a></li>
        <li><a href="#">Carte Aventix</a></li>
        <li><a href="#">Utilisateurs</a></li>
        <li><a href="#">Entreprise</a></li>
        <li><a href="#">Restaurateurs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right social">
                <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
      </ul>
    </div>
      <div class="collapse navbar-collapse" id="myNavbar2">
      <ul class="breadcrumb">
        <li><a href="/">Accueil ></a><a href="/"> Beneficiaire></a><a href="/"> localisation restaurant</a></li>
      </ul>
</nav>
<div class="container text-center" style="width:90%">      

  <div class="row" >

      <div class="col-xs-12 col-sm-6 col-md-8" id="BarMenu">

          <h1>Menu Compte</h1>
          <hr>
            <ul class="list-unstyled" style="font-size:20px">
                <br>
                <li ><a class="lienNav"  href="">Avantages</a></li>
                <br>
                <li><a class="lienNav" href="">Etat du compte</a></li>
                <br>
                <li><a class="lienNav" href="" style="color:black">Restaurants partenaires</a></li>
          </ul>
      
      </div>

      <div class="col-xs-6 col-md-4" id="DisplayNextToMenu">
         <h1>Restaurant à proximité</h1>  
         <hr style="border-color: #A9A9A9;">

            <div class="row">
              <div  style="height:260px; border-radius: 12%; border-style: inset;border-color: #C0C0C0;"class="col-md-6">
                    <br>
                    <form "form-inline" id="testcache">
                      <input type="text" id="adresse"/>
                      <input type="button"  class="btn btn-info" value="Localiser sur Google Map" onclick="TrouverAdresse()"/>
                    </form>
                    <br>
                    <hr>
                    <button type="button"  onclick="geolocalisation()" id="JolieBoutton" class="btn btn-info">Geolocalisez-moi!</button>
                    <hr>
              </div>
              <div class="col-md-6">
                    
                    <div id="map-canvas" style="float:center;height:260px;width:100%"></div>
                    <div id="AffichageAdresse" onclick="AffichageAdresseRestaurant()"></div>
                    <span id="text_latlng"></span>
              </div>
            </div>
         
         
      
 
      </div>
    </div>

</div>
<footer class="footer">
    <div class="container">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="#">Logo - Aventix</a>
                <li><a href="login"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Mon Compte</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Plan du site</a></li>
      </ul>
    <div>
</footer>
</body>
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=fr"></script>
    <script src="js/Geolocalisation.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="../app.js"></script>
    <script src="./app.js"></script>
</html>