<!DOCTYPE html>
<html ng-app="userApp">
    <head>
      <title>Aventix - Mon espace Personnel</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">
        <<link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/dirPagination.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
          <style>
              /* Remove the navbar's default margin-bottom and rounded borders */ 
              .navbar {
              margin-bottom: 0;
              border-radius: 0;
              }

          
              .carousel-inner img {
              width: 100%; /* Set width to 100% */
              margin: auto;
              min-height:200px;
              }

              /* Hide the carousel text when the screen is less than 600 pixels wide */
              @media (max-width: 600px) {
              .carousel-caption {
              display: none; 
              }
              }
          </style>
          <script>// <![CDATA[
// $(document).ready(function(){
//     var from,to,to2,subject,text;
//     $("#send_email").click(function(){      
//         to=$("#name").val();
//         to2=$("#email").val();
//         subject=$("#subject").val();
//         text=$("#message").val();
//         $("#message2").text("Envoi d'email... Veuillez patientert");
//         $.get("https://localhost:3000/send",{to:to,to2,subject:subject,text:text},function(data){
//         if(data=="sent")
//         {
//             console.log("sent received");
//             $("#message2").empty().html("Email a été envoyé "+to,+to2+" . Veuillez vérifier votre boite de réception!");
//         }else {
//             console.log(data);
//           }

// });
//     });
// });
// // Submit form with id function.
// function submit_by_id() {
// var name = document.getElementById("name").value;
// var email = document.getElementById("email").value;
// if (validation()) // Calling validation function
// {
// document.getElementById("send_email").submit(); //form submission
// alert(" Name : " + name + " \n Email : " + email + " \n send_email : " + document.getElementById("send_email").getAttribute("id") + "\n\n Email envoyé avec succès !");
// }
// }
//   function validation(){
// var name = document.getElementById("name").value;
// var email = document.getElementById("email").value;
// var emailReg = /^([w-.]+@([w-]+.)+[w-]{2,4})?$/;
// if( name ==='' || email ===''){
// alert("Please fill all fields...!!!!!!");
// return false;
// }else if(!(email).match(emailReg)){
// alert("Invalid Email...!!!!!!");
// return false;
// }else{
// return true;
// }
</script>

    </head>
<body ng-controller ="ContactFormCtrl">

      
<nav class="navbar navbar">
  <div class="container-fluid" style="height:120px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="img/logo_aventix.png" alt="Logo - Aventix" /></a>

    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><form style="margin-top:40px;" action="" class="search-form">
                  <div class="form-group has-feedback">
                  <label for="search" class="sr-only">Rechercher</label>
                  <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form></li><li><a class="btn btn-link" href="/login" style="margin-top:35px;">Votre espace personnel : &nbsp;<span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
        </ul>
    </div>
  </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="navbarMenu" class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#">Société</a></li>
        <li><a href="#">Carte Aventix</a></li>
        <li><a href="#">Utilisateurs</a></li>
        <li><a href="#">Entreprise</a></li>
        <li><a href="#">Restaurateurs</a></li>
        <li><a href="/geolocalisation">Geolocalisation Restaurants</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right social">
                <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
      </ul>
    </div>
      <ul class="breadcrumb">
        <li><a href="/">Accueil</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
</nav>

<div class="container text-center">    
  <h3>CONTACTER NOUS :</h3><br>

<form class="form-horizontal" role="form" name="contactForm" ng-submit="sendMail()" novalidate>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" ng-model="contactName" class="form-control" id="name" name="name"  placeholder="Nom" value="" required="name">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" ng-model="contactEmail" class="form-control" id="email" name="email" placeholder="aventix@aventix.fr" value="" required="email">
        </div>
    </div>
    <div class="form-group">
        <label for="subject" class="col-sm-2 control-label">Sujet</label>
        <div class="col-sm-10">
            <input type="text" ng-model="contactSubject" class="form-control" id="subject" name="subject" placeholder="Sujet" value="" required="subject">
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <textarea class="form-control"  ng-model="contactMessage" rows="4" name="content" placeholder="Votre message..." required="message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
        <div class="col-sm-10">
            <input type="num" class="form-control" id="human" name="human" placeholder="Votre réponse">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="send_email"  name="send_email" type="submit" value="Envoyez" class="btn btn-primary">
            <span id="message2"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <span id="message2"></span>
        </div>
    </div>
</form>
</div>

<footer class="footer">
    <div class="container">
        <ul class="nav navbar-nav">
             <a class="navbar-brand" href="/"><img src="img/logo_aventix.png" width="100px" height="35px" alt="Logo - Aventix" /></a>
                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Mon Compte</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Plan du site</a></li>
      </ul>
    </div>
</footer>
</body>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
</html>