<!DOCTYPE html>

<html>
    <head>

      <!-- ATTENTION! le script Jquery doit se trouver avant le script bootstrap sinon les fonctions javascript de bootstrap ne peuvent pas s'éxecuter. Par exemple la classe collapse(l 155) -->
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
      <title><%= pageTitle %></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">

          <style>
              .container {
                   padding: 80px 120px;
                   border-radius: 4%;
              }

              #drop{
               border:2px dashed black;
                  -moz-border-radius:5px;
                  -webkit-border-radius:5px;
                  border-radius:5px;
                  padding:25px;
                  text-align:center;
                  font:20pt bold,"Vollkorn";color:black
              }

              #b64data{
                width:100%;
              }


 
          </style>

          <style>
              /* Remove the navbar's default margin-bottom and rounded borders */ 
              .navbar {
              margin-bottom: 0;
              border-radius: 0;
              }

              /* Add a gray background color and some padding to the footer */
              footer {
              background-color: #f2f2f2;
              padding: 25px;
              }

              .carousel-inner img {
              width: 100%; /* Set width to 100% */
              margin: auto;
              min-height:200px;
              }

              /* Hide the carousel text when the screen is less than 600 pixels wide */
              @media (max-width: 600px) {
              .carousel-caption {
              display: none; 
              }
              }
          </style>
    </head>

    <body >

      
<nav class="navbar navbar">
  <div class="container-fluid" style="height:120px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><img src="img/logo_aventix.png" alt="Logo - Aventix" /></a>

    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><form style="margin-top:40px;" action="" class="search-form">
                  <div class="form-group has-feedback">
                  <label for="search" class="sr-only">Rechercher</label>
                  <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form></li><li><a href="/login" style="margin-top:35px;">Votre espace personnel : &nbsp;<span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
        </ul>
    </div>
  </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="navbarMenu" class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href=..>Société</a></li>
        <li><a href="login">Carte Aventix</a></li>
        <li><a href="Beneficiaire">Utilisateurs</a></li>
        <li><a href="Decideur">Entreprise</a></li>
        <li><a href="Affilie">Restaurateurs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right social">
                <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
      </ul>
    </div>
      <div class="collapse navbar-collapse" id="myNavbar2">
      <ul class="breadcrumb">
        <li><a href="/">Accueil ></a><a href="/"> Decideur</a></li>
      </ul> 
      </div>
</nav>



<!-- la barre de navigation sur le cote -->

<nav id="nav_cote" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" style="background-color:white;border-radius: 8%;border-style: solid;border-color:   #C0C0C0;"> <ul class="nav bs-docs-sidenav"><li class="active"> <a href="#Avantage">Vos Avantages</a> </li> <li> <a href="#recharge_compte_employes">Compte Employés</a> <li><a href="#souscription_benef">Souscrire Beneficiaire</a></li> <li><a href="#contact">Contact</a></li> </ul>  </nav>


<!-- ajoute une petite animation de scroll à la nav du coté -->
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $("#nav_cote a").on('click', function(event) {

  // Prevent default anchor click behavior
  event.preventDefault();

  // Store hash
  var hash = this.hash;

  // Using jQuery's animate() method to add smooth page scroll
  // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
  $('html, body').animate({
    scrollTop: $(hash).offset().top
  }, 900, function(){

    // Add hash (#) to URL when done scrolling (default click behavior)
    window.location.hash = hash;
    });
  });
})
</script>


<!-- section qui englobe toutes les autres section, principalement pour la mise en forme d'arriere plan -->
<section style="background-image:url('');background-size:cover;border-radius: 1%;"  >
  <!-- premiere section -->
    <section style="background: linear-gradient(to top, #3399FF, rgba(0,255,0,0));" >
    <div class="container text-center">
      <h3 id="Avantage">Les avantages pour vous</h3>


      <p><em>La carte présente plusieurs avantages :</em></p>
      <p>validité de 3 ans à partir de son émission
            livraison directement chez vos bénéficiaires à moindres frais
            sécurisation par un code PIN
            paiement possible au centime près
            gestion au quotidien des bénéficiaires (questions courantes,…)</p>
    </div>
    </section>

    <section style="background: linear-gradient(to top, #00CCFF, rgba(0,255,0,0));">
    <div class="container text-center"  >
      <h3 id="recharge_compte_employes">Recharger le compte de vos employés</h3>
      <p><em></em></p>
      <p></p>
    </div>
    </section>

    <section style="background: linear-gradient(to top, #00FFFF, rgba(0,255,0,0));"  >
    <div class="container text-center">
      <h3 id="souscription_benef">Souscrire de nouveaux beneficiaire</h3>
      
       <br />
          </select><br />
          <p>Souscrire vos employés à l'offre Aventix n'a jamais été aussi simple! Glissez votre fichier excel ci-dessous et vos employés sont dans nos bases de données  </p>
          <div class="dropper" id="drop">Deposer un fichier Excel ici!( XLSX / XLS / XML )</div>
          <p><input type="file" name="xlfile" id="xlf" /> </p>
           <p style="float:left"> ... ou cliquer ci-dessus pour selectionner un dossier</p>

          <a href="#more_option" data-toggle="collapse">
              <img src="img/logo_aventix.png" alt="Random Name">
          </a> 
          <div id="more_option" class="collapse"> 
              Output Format:
              <select name="format">
              <option value="json" selected > JSON</option>
              Advanced Demo Options: <br />
              Use Web Workers: (when available) <input type="checkbox" name="useworker" checked><br />
              Use Transferrables: (when available) <input type="checkbox" name="xferable" checked><br />
              Use readAsBinaryString: (when available) <input type="checkbox" name="userabs" checked><br />
              <pre id="out"></pre>
          </div>
<br />

<!-- les scripts utiles pour le DragAndDrop 
ATTENTION!! ne pas les mettre au debut du document sinon les scripts s'executent avant le chargement complet de la page 
et survient erreur car ne trouve pas l'element drop -->
<script src="js-xlsx-master/shim.js"></script>
<script src="js-xlsx-master/jszip.js"></script>
<script src="js-xlsx-master/xlsx.js"></script>
<script src="js-xlsx-master/ods.js"></script>
<script lang="javascript" src="js-xlsx-master/dist/xlsx.core.min.js"></script>
<script src="js/DragAndDrop.js"></script> 
    </div>
    </section>

    <section  style="background: linear-gradient(to top, rgb(177,255,239), rgba(0,255,0,0));" >
    <div class="container text-center" >
      <h3 id="contact">CONCTACTEZ NOUS</h3>
      <form class="form-horizontal" role="form" method="post" action="">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Nom" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="4" name="message"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
            <div class="col-sm-10">
                <input type="num" class="form-control" id="human" name="human" placeholder="Votre réponse">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input id="submit" name="submit" type="submit" value="Envoyez" class="btn btn-primary">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <! Will be used to display an alert to the user>
            </div>
        </div>
    </form>
    </div>
    </section>

</section  >

<footer class="footer" >
    <div class="container" style="padding: 10px 20px;">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="#">Logo - Aventix</a>
                <li><a href="login"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Mon Compte</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Plan du site</a></li>
      </ul>
    <div>
</footer>
</body>


</html>