<!DOCTYPE html>
<html ng-app="userApp">
    <head>
      <title><%= pageTitle %></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">

        <script src="js/angular.min.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/dirPagination.js"></script>
        <script src="js/angular-flash.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        

</head>

<body onload="initialiserCarte();AffichageAdresseRestaurant();">

      
<nav class="navbar navbar">
  <div class="container-fluid" style="height:120px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="img/logo_aventix.png" alt="Logo - Aventix" /></a>

    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><form style="margin-top:40px;" action="" class="search-form">
                  <div class="form-group has-feedback">
                  <label for="search" class="sr-only">Rechercher</label>
                  <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form></li><li><a class="btn btn-link" href="/login" style="margin-top:35px;">Votre espace personnel : &nbsp;<span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
        </ul>
    </div>
</div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="navbarMenu" class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#">Société</a></li>
        <li><a href="#">Carte Aventix</a></li>
        <li><a href="#">Bénéficiaire</a></li>
        <li><a href="#">Décideur</a></li>
        <li><a href="#">Affiliés</a></li>
        <li><a href="/geolocalisation">Geolocalisation Restaurants</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right social">
                <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
      </ul>
    </div>
      <ul class="breadcrumb">
        <li><a href="/">Accueil</a></li>
        <li><a href="/geolocalisation">Géolocalisation Restaurants</a></li>
      </ul>
</nav>
<div class="container">
    <div class="col-md-6">
      <h1>Restaurants à proximité</h1>  
         <hr style="border-color: #A9A9A9;">

            <div class="row">
              <div  style="height:260px; border-radius: 12%; border-style: inset;border-color: #C0C0C0;"class="col-md-6">
                    <br>
                    <form "form-inline" id="testcache">
                      <input type="text" id="adresse"/>
                      <input type="button"  class="btn btn-info" value="Localiser sur Google Map" onclick="TrouverAdresse()"/>
                    </form>
                    <br>
                    <hr>
                    <button type="button"  onclick="geolocalisation()" id="JolieBoutton" class="btn btn-info">Geolocalisez-moi!</button>
                    <hr>
              </div>
              <div class="col-md-6">
                    
                    <div id="map-canvas" style="float:center;height:560px;width:560px"></div>
                    <div id="AffichageAdresse" onclick="AffichageAdresseRestaurant()"></div>
                    <span id="text_latlng"></span>
              </div>
            </div>


    
    </div>
</div>
<br>
<br>
<br>
<br>

    <% include includes/footer.ejs %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=fr"></script>
    <script src="js/Geolocalisation.js"></script>
    
</html>