<!DOCTYPE html>
<html>
    <head>
      <title>Aventix - Mon espace Personnel</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css">
        
        <link rel="stylesheet" href="css/main.css">

        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
        
    </head>

<body>

      
<nav class="navbar navbar">
  <div class="container-fluid" style="height:120px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/index"><img src="img/logo_aventix.png" alt="Logo - Aventix" /></a>

    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><form style="margin-top:40px;" action="" class="search-form">
                  <div class="form-group has-feedback">
                  <label for="search" class="sr-only">Rechercher</label>
                  <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form></li><li><a class="btn btn-link" href="/login" style="margin-top:35px;">Votre espace personnel : &nbsp;<span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
        </ul>
    </div>
  </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="navbarMenu" class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#">Société</a></li>
        <li><a href="#">Carte Aventix</a></li>
        <li><a href="#">Utilisateurs</a></li>
        <li><a href="#">Entreprise</a></li>
        <li><a href="#">Restaurateurs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right social">
                <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
      </ul>
    </div>
      <ul class="breadcrumb">
        <li><a  href="/">Accueil</a></li>
        <li><a  href="/Login">Se connecter</a></li>
      </ul>
</nav>
<div class="container text-center">    

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <!-- <form action="/login" method="post">
        <div class="form-group">
            <label>Login</label>

            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-info btn-lg">Se connecter</button>
    </form>

    <hr>
    <p>Retourner sur la page d'<a href="/">acceuil</a>.</p> -->


<div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Aventix / Espace personnel</div>
            </div>  


<div class="panel-body" >

                <form name="form" id="form" class="form-horizontal" action="/login" method="POST">
                   
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user" type="text" class="form-control" name="username" value="" placeholder="Utilisateur" required>                                        
                    </div><br>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Mot de passe" required>
                    </div><br>                                                              

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit"class="btn btn-default"><i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp; Se connecter</button>
                            <br><br>
                            <p>Retournez sur la page d'acceuil.&nbsp;&nbsp;<a class="btn btn-default" href="/"><span class="glyphicon glyphicon-home"></span></a></p>                         
                        </div>
                    </div>

                </form>     

            </div> 
  </div>
</div>
<footer style="margin-top:20px;" class="footer">
    <div class="container">
        <ul class="nav navbar-nav" id="footer-nav">
             <a class="navbar-brand" href="/"><img src="img/logo_aventix.png" width="100px" height="35px" alt="Logo - Aventix" /></a>
                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Mon Compte</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Plan du site</a></li>
      </ul>
    <div>
</footer>
</body>

    <script src="js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</html>