<!DOCTYPE html>
<html ng-app="userApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css">
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.css">
   <script src="js/controller.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
 <script type="text/javascript">
// var getJSON = function(url) {
//   return new Promise(function(resolve, reject) {
//     var xhr = new XMLHttpRequest();
//     xhr.open('get', '/userslist', true);
//     xhr.responseType = 'json';
//     xhr.onload = function() {
//       var status = xhr.status;
//       if (status == 200) {
//         resolve(xhr.response);
//       } else {
//         reject(status);
//       }
//     };
//     xhr.send();
//   });
// };




// $('#table').bootstrapTable({
//     method : 'get',
//     url :'/userslist',
//     height : 450,
//     cache : false,
//     striped : true,
//     pagination : true, 
//     pagesize : 10,
//     pageList : [10,25,50,100,200],
//     minimumCountColumns : 2,
//     clickToSelect : true,
//     columns : [{
//     	field : 'id',
//     	title : 'id',
//     	align : 'center'
//     },{
//     	field : 'nom',
//     	title : 'nom',
//     	align : 'center'
//     	sortable : true
//     },{
//     	field : 'prenom',
//     	title : 'prenom',
//     	align : 'center'
//     	sortable : true
//     },{
//     	field : 'solde',
//     	title : 'solde',
//     	align : 'center',
//     	sortable : true
//     }]
// });

// var userApp = angular.module('userApp', ['ngTable']).filter('Utilisateur', function (){});
//       userApp.controller('userCtrl', function ($scope, $http){
//         $http.get('http://localhost:3000/userslist').success(function(data) {
//           $scope.users = data.Utilisateurs;
//         });

//       });



 //  $(document).ready(function(){
 //      $("button").click(function(){
 //        $.getJSON('/userslist', function (data){
 //        var output="<ul>";
 //        for (var i in data.Utilisateurs) {
 //            output+="<li>" + data.Utilisateurs[i].id + " " + data.Utilisateurs[i].nom + "  " + data.Utilisateurs[i].prenom + "<br>" + "  Solde : " + data.Utilisateurs[i].solde + "</li>";
 //        }

 //        output+="</ul>";
 //        document.getElementById("placeholder").innerHTML=output;
 //  		})
 // })});


// $.getJSON("/userslist", function(toto){
// 	var obj = JSON.parse("toto");
// document.getElementById("demo").innerHTML =
// obj.utilisateurs[1].nom + " " + obj.utilisateurs[1].prenom;
// });


// $(document).ready(function(){

// $.getJSON('/userslist', function(data){

//     // Set the variables from the results array
//     var id = data.Utilisateurs[0].id;
//     console.log('id : ', id);
    
//     var nom = data.Utilisateurs[0].nom;
//     console.log('Nom : ', nom);
    
//     var prenom = data.Utilisateurs[0].prenom ;
//     console.log('Prenom : ', prenom);
//     var solde = data.Utilisateurs[0].solde;
//     console.log('Sonde : ', solde);

//     // Set the table td text
//     $('#id').text(id);
//     $('#nom').text(nom);
//     $('#prenom').text(prenom);
//     $('#solde').text(solde);
// })});

</script>
</head>
<body ng-controller="userCtrl">
<!-- <h2>Angular.js JSON Fetching Example</h2> -->

    <!-- <table ng-table="vm.tableParams" class="table" show-filter="true">
      <tr ng-repeat="user in users">

        <td title="'id'" sortable="'id'">{{user.id}}</td>

        <td title="'Nom d'utilisateur" filter="{ name: 'Utilisateur'}" sortable="'Utilisateur'">{{user.username}}</td>

        <td title="'Password">{{user.password}}</td>

      </tr>
    
    </table> -->
    <div style="padding-bottom:50px">
      <table style="width:100%">
        <tr>
          <td colspan="2" style="width:100%;padding:10px;">         
          <div class="alert alert-info" role="alert">{{message}}</div>
          </td>
        </tr>
        <tr>          
          <td style="width:45%;padding-left:40px;vertical-align: top">
            <div style="padding-bottom:20px">
              <h3>Ajouter un utilisateur</h3>
            </div>
            <form class="form-horizontal" role="form" ng-submit="addRowAsyncAsJSON()">
              <div class="form-group">
                <label class="col-md-2 control-label">id</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="name"
                    ng-model="id" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Username</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="username"
                    ng-model="username" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Password</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="password"
                    ng-model="password" />
                </div>
              </div>
              <div class="form-group">                
                <div style="padding-left:110px">
                  <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
              </div>
            </form>
          </td>
          <td style="width:45%;padding-left:10px;padding-right:20px;vertical-align: top">
            <div style="padding-bottom:20px" >
    <form name="registrationForm" novalidate 
          ng-submit="registration.submit(registrationForm.$valid)">
       <div class="form-group">
            <label>User Name</label>
            <input type="text" name="username" class="form-control" ng-model="registration.user.username" required />
            <div ng-messages="registrationForm.username.$error" ng-messages-include="messages.html"></div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="registration.user.password" required />
            <div ng-messages="registrationForm.password.$error" ng-messages-include="messages.html"></div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" 
                   ng-model="registration.user.confirmPassword" 
                   required compare-to="registration.user.password" />
            <div ng-messages="registrationForm.confirmPassword.$error" ng-messages-include="messages.html"></div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register!</button>
        </div>
    </form> 
  </td>
</div> 
          <td style="vertical-align: top">
            <table class="table">
              <tr>
                <th>Id
                </th>
                <th>Username
                </th>
                <th>Password
                </th>
              </tr>
              <tr ng-repeat="user in users">
                <td>{{user.id}}
                </td>
                <td>{{user.username}}
                </td>
                <td>{{user.password}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
      
</body>
</html>
